# Experiment Logs
logs/

wandb/

# Development
.vscode/
.vscode-server/
.local/
.npm/
.cache/
.cache/*
__pycache__
*.egg-info
*.csv
*.pem

#caches
.python_history
.bash_history

.dvc
.git*
*.vs*
.gitconfig
.netrc
